

<a href="{% url 'sign'%}?action=login">Авторизация</a>
<br/>

<a href="##">Картотека на сайте</a>
<br/>
{% if user.is_staff or user.is_superuser %}
<a href="{% url 'trading'%}">Торговая</a>
{%endif%}
<br>level   login   pass<br>
admin: '1', 'tachikoma228'
<br>staff: '2', 'tachikoma228'
<br>user: '3', 'tachikoma228', or none
<br>
http://vladisa.pythonanywhere.com
<br>https://www.learn-c.org<br>
<h4>Сделано: </h4>
<li>login page</li>
<li>trading_operation_product_view.html</li>
<li></li>
<li></li>

<h4>Нужно сделать: </h4>
<li>Формы в операции продукт на товар</li>
<li>в редактировании характеристик при выборе сделать джс для добавления формсета</li>
<li></li>

<h4>Можно сделать: </h4>
<li></li>
<li></li>
