

<a href="{% url 'sign'%}?action=login">Авторизация</a>
<br/>
{% if user.is_authenticated %}<a href="{% url 'sign'%}?action=logout">Выйти</a>{%endif%}
<br>
<a href="##">Картотека на сайте</a>
<br/>
{% if user.is_staff or user.is_superuser %}
<a href="{% url 'trading'%}">Торговая</a>
{%endif%}
<br>level   login   pass<br>
admin: '1', 'tachikoma228'
<br>staff: '2', 'tachikoma228'
<br>user: '3', 'tachikoma228', or none
<br>
http://vladisa.pythonanywhere.com
<br>https://www.learn-c.org<br>

<h4>Нужно сделать: </h4>


<li>part_of car сделать с подкатегориями, т.к. кардан коллектор ещё и делится на части и там можнт быть слева\сверху</li>
<li>заказы</li>
<li>при редактировании типа товарной операции, если операция == "расход": добавить бул - выполняет заказ (дефолт = Фолс), при создании такой товарной операции её нельзя провести прямо с страницы, только при редактировании,
<br> инстанс_опер продакт_продукты в такой операции помечаются как *на заказ*(добавить бул поле в инстанс_опер продакт_продукты)</li>
<li>при проведении такой операции метка*на заказ* снимается,<br> в прочих - добавить *Заказы*, там будут отображаться инстанс_опер продакт_продукты с пометкой *на заказ*, делить на 2 группы(Выполненные: amount0 > 0, Ожидается приход:drugiye), внешний вид: Продукт - торговая операция</li>
<li>В операции продукт, при создании, редактировании продажи: выбор цены, типо закупочная, если выбирается она, то аякс запрос на выставление цены делает цену по клиенту, т.е. если выбрана цена закупочная, то делается аякс запрос и генерируется цена по клиенту!!</li>
<li>в просмотре продукта добавить 2 кнопки которые будут копировать полное название и артикуль товара</li>
<li>Добавить просмотр измененных цен</li>
<li>в прочем добавить товарные операции на редактирование</li>
<li></li><li></li>
<li>удаление товарныхъ операций, денежных операций, товаров из картотеки, да и всего подряд прямо с сайта</li>
<li>Рефакторинг(settingsmanage, operation cashbox-product\create-edit</li>
<li>редиректы(частично готовы)</li>
<li>Все наименования товара принимать в нижнем шрифте,</li>
<li>в поиске товара по наименованию игнорировать пробелы и прочее дерьмо</li>
<li>придумать что-то с заказами</li>
<li>Прогон с новыми данными</li>


<h4>Можно сделать: </h4>
<li>Скрейпить данные с сайта поставщика(требуется данные авторизации для просмотра цен, т.к. у большенства поставщиков цены скрыты и разная цена для каждого покупателя), или же узнать есть ли у поставщиков API(если нету, помочь сделать, на основе моих аяксов). Так-же требуется адекватное заполнение артикуля в бд(без точек звёздочек и прочей поеботы), т.к.</li>
<li>Доступ(нужно знать что могут видеть\делать персонал)</li>
<li>qr код при печати товарного чека из операции продукт(для работяг проще находить операцию по картинке)</li>
<li>архивация действий(нужно знать что архивировать)</li>


<h4>Done: </h4>
<li>(редактирование цен администратора)В создании\редактировании товарной операции(исключая истинный приход(changes_price=True), т.к. приход от поставщиков персонал делает своими силами) - если пользователь администратор - поле для редактирвания цены активно и значения из этого поля принимаются, иначе брать значения цены за ед из operation_product.price</li>
<li>в продукте добавить булл (редактировано, default=False), при редактировании через сайт, редактирванно = True, в прочем добавить пункт неотредактированные карточки(там отображать неотредактированные карты продукта)</li>
<li>в продукте добавить булл (нужно редактирование, default=False), и поле текста для описания того что нужно редактировать), редактирванно = True, в прочем добавить пункт карты для редактирования(там отображать карты продукта которые нужно отредактировать)</li>
<li>Формы в операции продукт на товар</li>
<li>Автозаполнение значений(цен) в ценах в товарной операции</li>
<li>В просмотре товарной оперции: добавить кнопку на формирование формы редактирования цен для объектов из этой операции</li>
<li>в поиске товара по наименованию учитывать ещё и данные из article_alt filter(Q(article_alt__icontains=query))</li>
<li>разрешить администратору менять закупочную цену продукта</li>
<li>В создании\редактировании товарной операции добавить фк на автомобиль.в просмотре товарной операции добавить кнопку для добавления автомобиля к товарам в продуктовой операции, открывается окно со всеми товарами из товарной операции и галочками слева</li>