{% load staticfiles %}
<html lang="ru">
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="keywords" content="">
                <meta name="description" content="">
                <meta name="author" content="">
                <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
            
                <title>Торговая</title>
            
                <!-- Bootstrap core CSS -->
                <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            
                <!-- Custom styles for this template -->
                <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
            
                <!-- Just for debugging purposes. Don't actually copy this line! -->
                <!--[if lt IE 9]><script src="{% static 'js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
            
                <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!--[if lt IE 9]>
                  <script src="{% static 'js/html5shiv.js' %}"></script>
                  <script src="{% static 'js/respond.min.js' %}"></script>
                <![endif]-->
              </head>
              <body>
<div class="container">

    <form>
    <label></label>
    <li><input  class="search-query span10" type="text" name="suggestion" value="" id="suggestion" /></li>
    </form>
{% if cat_list %}
<div id="cats">
    {% include 'automaximum/test2.html' with products_list=cat_list %}
</div>
{% endif %}
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery_add.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
</body>
</html>