{% extends 'automaximum/trading_base.html' %}
{% block content %}
<!-- Begin page content -->
<div class="container">
    {%if button_is == True%}
    <div class="btn-group pull-right">
        <a href="{% url 'trading_settings_manage' %}?type=create&object={{object}}" class="save btn btn-default" role="button" aria-pressed="true">{{button_title}}</a> 
    </div> 
    {%endif%}
    <h3>{{page_title}}</h3>

    
    {%if object == ''%}
        {%if type == 'cashbox'%}
        <li><a href="{% url 'trading_settings_view'%}?type=cashbox&object=type_operation_money">Виды кассовых операций</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=cashbox&object=cashbox">Кассы</a></li>
        {%endif%}
        {%if type == 'product'%}
        <li><a href="{% url 'trading_settings_view'%}?type=product&object=type_operation_product">Виды товарных операций</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=product&object=storage">Склады</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=product&object=price">Цены</a></li>
        {%endif%}
        {%if type == 'user'%}
        <li><a href="{% url 'trading_settings_view'%}?type=user&object=user_profile">Пользователи</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=user&object=access_level">Уровни доступа</a></li>
        {%endif%}
        {%if type == 'product_list'%}
        <li><a href="{% url 'trading_settings_view'%}?type=product_list&object=car">Машины</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=product_list&object=engine">Двигатели</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=product_list&object=category">Категории</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=product_list&object=manufacturer">Производители</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=product_list&object=characteristics">Характеристики</a></li>
        <li><a href="{% url 'trading_settings_view'%}?type=product_list&object=part_of">Расположения</a></li>
        {%endif%}
    {%else%}    

    {%for obj in obj_list%}
    <li><a href="{% url 'trading_settings_manage'%}?type=edit&object={{object}}&id={{obj.pk}}">{% if obj.full_name %}{{obj.full_name}} {% else %}{{obj.name}} {%endif%}</a></li>
    {%endfor%}
    {%endif%}
    

</div>

{% endblock %}