{% extends 'automaximum/trading_base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <form method="POST" class="post-form">
            {%if page_type == 'create'%}
            <h3>Новая карта: {{page_name}}</h3>
            {%endif%}
            {%if page_type == 'edit'%}
            <h3>Редактирование карты: {{page_name}} - {{object1.name}}</h3>
            {%endif%}
    <button type="submit" name="deleteit" value="true" class="save btn btn-danger pull-right">Удалить</button>
    <br><hr>
    {% csrf_token %}
    {%if page == 'user'%}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}    
    {%else%}
    {{ form.as_p }}
    {%endif%}
    {%if editformset%}
    <is_m2m id="menu0">
            <a class = "addline">[+]</a>
    {{ editformset.management_form }}
    {% for zxz in editformset %}
    <p class ="lineup"><a class = "delline">[-]</a>{{ zxz }}</p>
    {% for hidden in zxz.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% endfor %}
    </is_m2m>
    {%endif%}
    <hr/>
        <button type="submit" class="save btn btn-default pull-right">{%if page_type == 'create'%}Создать{%else%}Сохранить{%endif%}</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
{%if editformset%}
<script src="{% static 'js/js_operation_settings_manage.js' %}"></script>
{%endif%}
{% endblock %}