{% extends 'automaximum/trading_base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">    


<form method="POST" class="post-form">
    {% if page == 'edit' %}<button type="submit" name="deleteit" value="true" class="save btn btn-danger pull-right">Удалить</button>{% endif %}
    <h3>{% if page == 'new' %} Новая торговая операция: {{operation_product1.name}} {%else%} Редактирование: {{operation_product1.type.name}}{% endif %}</h3>
    <hr>
    {% csrf_token %}
    {{ form.as_p }}
  

    {% if page == 'edit' %}
    
    <br/>
    <p >Сумма : {{operation_product1.cash}}    </p>
    <p >Остаток : {{operation_product1.leftovers}}</p>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu0">Товары</a></li>
        <li><a data-toggle="tab" href="#menu1">Платежи</a></li>
        <li><a data-toggle="tab" href="#menu2">Оплата</a></li>
      </ul>   
      
      <div class="tab-content">
        <div id="menu0" class="tab-pane fade in active">
          <h3>Товары</h3>s
          <a class = "addline">[+]</a>
          {{ editformset.management_form }}
          {% for operation_product_product_instanceForm in editformset %}
          <p class ="lineup"><a class = "delline">[-]</a> {{ operation_product_product_instanceForm }}</p>
          {% endfor %}
          
          <div class="row" style="padding-left: 15px;padding-right: 15px;">
            <div class="col-xs-4" style="padding-left: 0px;padding-right: 0px;">
              <input type="text" class="form-control" placeholder=".col-lg-2">
            </div>
            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
              <input type="text" class="form-control" placeholder=".col-lg-3">
            </div>
            <div class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">
              <input type="text" class="form-control" placeholder=".col-lg-4">
            </div>
            <div class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">
                <input type="text" class="form-control" placeholder=".col-lg-4" readonly>
              </div>
          </div>
          
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Платежи</h3>
          {{ editformset_payment_edit.management_form }}
          {% for operation_product_cashbox_instanceForm in editformset_payment_edit %}
          <div class="row" style="padding-left: 15px;padding-right: 15px;">
              <div class="col-xs-9" style="padding-left: 0px;padding-right: 0px;"><a class="btn btn-default btn-block" target="_blank" rel="noopener noreferrer" href="{% url 'trading_operation_cashbox_view' %}?id={{operation_product_cashbox_instanceForm.instance.operation_money.pk}}" role="button" style="text-align: left;">{{operation_product_cashbox_instanceForm.instance.operation_money}}</a></div>
              <div class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">{{ operation_product_cashbox_instanceForm }}</div>
        </div>
        <br>
          {% endfor %}
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Оплата</h3>
          {{ editformset_cashbox.management_form }}
          {% for operation_product_cashbox_instanceForm in editformset_cashbox %}
          <div class="row" style="padding-left: 15px;padding-right: 15px;">
              <div class="col-xs-9" style="padding-left: 0px;padding-right: 0px;">{{ operation_product_cashbox_instanceForm.part1 }}</div>
              <div class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">{{ operation_product_cashbox_instanceForm.part2 }}</div>
          {% for hidden in operation_product_cashbox_instanceForm.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      <hr>
      <button type="submit" name="approved" value="true" class="save btn btn-default pull-right">Сохранить и провести</button>
      <button type="submit" class="save btn btn-default pull-right">Сохранить</button>
      
          
</form>


</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/js_operation_product.js' %}"></script>
{% endblock %}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu0">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu0" class="tab-pane fade in active">
      <h3>Товары</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Платежи</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>


<form id="login_form" method="post" action="/sign?action=login">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />

    <input type="submit" value="submit" />
</form>

