{% extends 'automaximum/trading_base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
<form method="POST" class="post-form">
    {% if page == 'edit' %}<button type="submit" name="deleteit" value="true" class="save btn btn-danger pull-right">Удалить</button>{% endif %}
    <h3>{% if page == 'new' %} Новая торговая операция: {{operation_product1.name}} {%else%} Редактирование: {{operation_product1.type.name}}{% endif %}</h3>
    <hr>
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cars">Машина</button><br><br>
    
    <!-- Modal cars -->
<div class="modal fade" id="cars" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Машина</h4>
        </div>
        <div class="modal-body">
                <div class="form-group">
                    <input type="text" placeholder="Название" data-type="car" class="form-control car_for" value = ''>
                <br/>
                <h5>Выбранная:</h5>
                <is_m2m id="car_listm2m">
                    {% if operation_product1.car %}
                    <p><a class = "del_car">[-]</a><input type="hidden" name="car" value="{{operation_product1.car.pk}}">
                    {{operation_product1.car}}</p>
                    {%endif%}

                </is_m2m>
                <hr>
                <car_m2m id="carm2m">
                </car_m2m>
                
                

                </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default my-1">Закрыть</button>
        </div>
      </div>
    </div>
</div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu0">Товары</a></li>
        <li><a data-toggle="tab" href="#menu1">Платежи</a></li>
        <li><a data-toggle="tab" href="#menu2">Оплата</a></li>
      </ul>   
      
      <div class="tab-content">
        <div id="menu0" class="tab-pane fade in active">
          <h3>Товары</h3>
          <a class = "addline">[+]</a>
          {{ editformset.management_form }}
          {% for operation_product_product_instanceForm in editformset %}
          <operas>
        <div class="row" style="padding-left: 15px;padding-right: 15px;">
          <a class = "delline">[-]</a>
          <br/>
            <div class="{%if not var_for_form %}col-xs-7{%else%}col-xs-9{%endif%}" style="padding-left: 0px;padding-right: 0px;">
                <asdasd class="dropdown">
                <input type="text" class="form-control dropdown-toggle operation_product_list" data-toggle="dropdown" name="srchbox" {% if operation_product_product_instanceForm.instance.product%}value="{{operation_product_product_instanceForm.instance.product }}"{%endif%} autocomplete="off" placeholder="Наименование" style="padding-right: 0px;padding-left: 2px;">
                
                    <ul class="dropdown-menu" style="
                    margin-top: 0px;
                ">
                      <li><span></span></li>
                    </ul>
              </asdasd>
                {{ operation_product_product_instanceForm.part0 }}
            </div>
            <div class="{%if not var_for_form %}col-xs-1{%else%}col-xs-3{%endif%}" style="padding-left: 0px;padding-right: 0px;">
              {{ operation_product_product_instanceForm.part1 }}
            </div>
            {%if not var_for_form %}
            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
              {{ operation_product_product_instanceForm.part2 }}
            </div>
            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                <input type="text" class="form-control" name="total" {% if operation_product_product_instanceForm.ttlprc%}value="{{ operation_product_product_instanceForm.ttlprc }}"{%endif%} placeholder="Итого" readonly>
            </div>
            {%endif%}
        </div>

      </operas>
      {% for hidden in operation_product_product_instanceForm.hidden_fields|slice:"1:2" %}
      {{ hidden }}
      {% endfor %}
        {% endfor %}

        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Платежи</h3>
          {{ editformset_payment_edit.management_form }}
          {% for operation_product_cashbox_instanceForm in editformset_payment_edit %}
          <div class="row" style="padding-left: 15px;padding-right: 15px;">
              <div class="col-xs-9" style="padding-left: 0px;padding-right: 0px;"><a class="btn btn-default btn-block" target="_blank" rel="noopener noreferrer" href="{% url 'trading_operation_cashbox_view' %}?id={{operation_product_cashbox_instanceForm.instance.operation_money.pk}}" role="button" style="text-align: left;padding-left: 12px;">{{operation_product_cashbox_instanceForm.instance.operation_money}}</a></div>
              <div class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">{{ operation_product_cashbox_instanceForm }}</div>
        </div>
        <br>
          {% endfor %}

        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Оплата</h3>
          {{ editformset_cashbox.management_form }}
          {% for operation_product_cashbox_instanceForm in editformset_cashbox %}
          <div class="row" style="padding-left: 15px;padding-right: 15px;">
              <div class="col-xs-9" style="padding-left: 0px;padding-right: 0px;">{{ operation_product_cashbox_instanceForm.part1 }}</div>
              <div class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">{{ operation_product_cashbox_instanceForm.part2 }}</div>
          {% for hidden in operation_product_cashbox_instanceForm.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      <hr>
    {% if page == 'edit' and operation_product1.client %}
    <br/>
    <div class="row" style="padding-right: 15px;">
      <p class="pull-right">Сумма : {{operation_product1.cash}}</p>
    </div>
    <div class="row" style="padding-right: 15px;">
      <p class="pull-right">Остаток : {{operation_product1.leftovers}}</p>
    </div>
    {% endif %}
      <button type="submit" name="approved" value="true" class="save btn btn-default pull-right">Сохранить и провести</button>
      <button type="submit" class="save btn btn-default pull-right">Сохранить</button>
      
          


    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/js_operation_product.js' %}"></script>
{% endblock %}
