{% extends 'automaximum/trading_base.html' %}
{% block content %}
<!-- Begin page content -->
<div class="container-fluid">
<h3>{{page.naming}}</h3>
{%if page.button_is == True%}
<div class="btn-group">
        <a href="{% url 'trading_additional_option' %}?type={{type}}&object=monitor" class="save btn btn-default{% if button_bar == 'monitor' %} active{% endif %}" role="button" aria-pressed="true">Отслеживаемые</a> 
        <a href="{% url 'trading_additional_option' %}?type={{type}}&object=monitor_false" class="save btn btn-default{% if button_bar == 'monitor_false' %} active{% endif %}" role="button" aria-pressed="true">Неотслеживаемые</a> 
    </div>  
{%endif%}
{%if page.texting%}
    <p>{{page.texting}}</p>
{%endif%}
{%if page.obj_list%}
{%for z in page.obj_list%}
{% if type != 'need_to_edit_op'%}
<p><a class = "add_to_basket" href="" data-product-id="{%if z.product %}{{z.product.pk}}{%else%}{{z.pk}}{%endif%}" data-user-id="{{userstaff.pk}}" data-amount="1">[+]</a> <a href="{% url 'trading_products_edit' %}?id={%if z.product %}{{z.product.pk}}{%else%}{{z.pk}}{%endif%}">
{%else%}
<p><a href="{% url 'trading_operation_product_edit' %}?operation_id={{z.pk}}">{{z.type}}</a>
    {%endif%}
{%if z.product %}
{{z.product}}
{%else%}
{{z.full_name}}
{%endif%}</a>
{%if z.product %}
<br><strong>{{z.price}}</strong>
<br>Рекомендуемая: {{z.recomend_price}}
<br>По факту: {{z.value}} 
{%endif%}
{%if z.status %}
<br>Минимальный остаток: {{z.min_amount}} 
<br>По факту: {{z.amount0}}
{%endif%}
{%if type == 'need_to_edit' or type == 'need_to_edit_op'%}
: {{z.need_to_edit_commentary}}
{%endif%}</p>
{%endfor%}
{%endif%}
</div>
{% endblock %}