{% extends 'automaximum/trading_base.html' %}
{% block content %}
<!-- Begin page content -->
<div class="container-fluid">
    <h3>Настройки</h3>
<li><a href="{% url 'trading_settings_view' %}?type=cashbox">Управление денежными операциями(+касса, виды кассовых операций,  )</a></li> 
<li><a href="{% url 'trading_settings_view' %}?type=product">Управление товарными операциями(+склад, цена, виды товарных операций )</a></li>  
<li><a href="{% url 'trading_settings_view' %}?type=user">Управление пользователями</a></li>
<li><a href="{% url 'trading_settings_view' %}?type=client">Управление клиентами</a></li>
<li><a href="{% url 'trading_settings_view' %}?type=product_list">Управление товарами</a></li>

</div>
{% endblock %}